langchain
langchain-community
langchain-groq
langchain-experimental
python-dotenv
neo4j
langchain-neo4j

ipykernel #jupyter notebook

#download wikipedia information
wikipedia
lxml

#is a Jupyter integration for yFiles, a commercial graph visualization library.
pyvis 

