# LangChain Core
langchain
langchain-core
langchain-community
langchain-experimental
langchain-groq
langchain-neo4j

# Environment variables
python-dotenv

# Neo4j driver
neo4j

# Embeddings
langchain-huggingface
sentence-transformers

# Wikipedia data loading
wikipedia
lxml

# Tokenization
tiktoken

# Data handling
pandas

# Graph visualization
pyvis

# Jupyter kernel support
ipykernel



pydantic>=2.0.0

